
package pages

import "{{gitlab_url}}/internal/views/components"

templ Index() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{{project_title}}</title>
			<link rel="stylesheet" href="/static/css/styles.css"/>
		</head>
		<body>
			<div class="">
			</div>
		</body>
		<script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/htmx-ext-ws@2.0.0/ws.js"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.3/dist/cdn.min.js"></script>
	</html>
}
