image: nixos/nix

workflow:
  auto_cancel:
    on_new_commit: interruptible

default:
  interruptible: true

variables:
  IMAGE_TAG: 0.1.0
  {{service_prefix}}_CI_IMAGE: $CI_REGISTRY_IMAGE/ci:$IMAGE_TAG

stages:
  - pre
  - deps
  - test
  - build
  - deploy
  - release

.task:
  stage: test
  image: ${{service_prefix}}_CI_IMAGE
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
  cache:
    paths:
      - ${GOPATH}/pkg/mod
    policy: pull
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - "*.go"
  before_script:
    # INFO: Used to create directory, needed for tests and linter
    - mkdir -p /tmp

.test:
  extends:
    - .task
  coverage: /total:\s+\(statements\)\s+\d+.\d+%/
  variables:
     GOTESTSUM_JUNITFILE: "report.xml"
     XDG_DATA_HOME: "/tmp/"
     GOTEST_EXTRA_ARGS: "-coverprofile=coverage.txt"
  after_script:
    - task coverage
  artifacts:
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml

.docker:
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
    IMMUTABLE: "true"
  services:
    - docker:27-dind
  script:
    - echo "experimental-features = nix-command flakes" > /etc/nix/nix.conf
    - nix-env -iA nixpkgs.docker nixpkgs.go-task
    - task docker:publish

publish:docker:ci:
  stage: pre
  variables:
    IMAGE: ${{service_prefix}}_CI_IMAGE
    FLAKE_TARGET: container-ci
    LOCAL_IMAGE: {{project_slug}}-dev
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - "containers/ci.nix"
  extends:
    - .docker
  before_script:
    - |
      if ! git diff --name-only HEAD~1 | grep -q "containers/ci.nix"; then
        echo "No changes in containers/ci.nix in the current commit. Skipping job."
        exit 0
      fi

download:dependency:
  extends:
    - .task
  stage: deps
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      # INFO: Commented out until cache works with self-hosted runner, so this always run
      # changes:
      #   - go.mod
      #   - go.sum
  script:
    - go mod download
  cache:
    policy: pull-push

lint:
  extends:
    - .task
  script:
    - task lint

format:
  extends:
    - .task
  script:
    - task format
    - git diff --exit-code

generate:
  extends:
    - .task
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  script:
    - task generate
    - git diff --exit-code

tests:unit:
  extends:
    - .test
  script:
    - task tests:unit -- ${GOTEST_EXTRA_ARGS}

tests:integration:
  extends:
    - .test
  script:
    - task tests:integration -- ${GOTEST_EXTRA_ARGS}

# TODO: work out how to work with Nix
test:e2e:
  extends:
    - .test
  image: ghcr.io/manfromth3m0on/playwright-go:v0.4702.0
  before_script:
    - apt-get install wget tar curl -y
    - wget https://go.dev/dl/go1.22.5.linux-amd64.tar.gz
    - tar -xvf go1.22.5.linux-amd64.tar.gz -C /usr/local > /dev/null 2>&1
    - sh -c "$(curl --location https://taskfile.dev/install.sh)" -- -d
    - go install gotest.tools/gotestsum@latest
    - go install github.com/boumenot/gocover-cobertura@latest
    - mv ./bin/task /usr/local/bin/task
    - ls -al $GOPATH/bin
    - export PATH="/usr/local/go/bin:$GOPATH/bin:$PATH"
  script:
    - task tests:e2e -- ${GOTEST_EXTRA_ARGS}
  after_script:
    - export PATH="/usr/local/go/bin:$GOPATH/bin:$PATH"
    - which gocover-cobertura
    - task coverage
  artifacts:
    when: always
    paths:
      - tests/e2e/videos/*

#TODO: tag image using dev SHA
publish:dev:docker:
  stage: build
  needs: []
  variables:
    IMAGE: $CI_REGISTRY_IMAGE:dev
    FLAKE_TARGET: container
    LOCAL_IMAGE: {{project_slug}}
    IMMUTABLE: "false"
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - "*.go"
        - "./static/**/*"
  extends:
    - .docker

deploy:dev:
  stage: deploy
  image:
    name: bitnami/kubectl:latest
    entrypoint: ['']
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - "*.go"
        - "./static/**/*"
  script:
    - kubectl config use-context hmajid2301/k3s-config:ms01
    - kubectl rollout restart deployment {{project_slug}} -n dev
  dependencies:
    - publish:dev:docker

#INFO: Because Nix docker builds are immutable, we can just rebuild the image here for production
# If we wanted to be more efficient we could work out way to retag a dev image. But this is good enough for now.
publish:prod:docker:
  stage: build
  rules:
    - if: $CI_COMMIT_TAG
  variables:
    IMAGE: $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
    FLAKE_TARGET: container
    LOCAL_IMAGE: {{project_slug}}
    IMMUTABLE: "false"
  services:
    - docker:27-dind
  extends:
    - .docker

deploy:prod:
  stage: deploy
  image:
    name: bitnami/kubectl:latest
    entrypoint: ['']
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - kubectl config use-context hmajid2301/k3s-config:ms01
    - kubectl rollout restart deployment {{project_slug}} -n prod

release:
  stage: release
  rules:
    - if: $CI_COMMIT_TAG
  extends:
    - .task
  variables:
    GIT_DEPTH: 0
  script:
    - task release

