with-expecter: true
{% raw -%}
dir: "internal/{{.PackageName}}/mocks"
filename: "mock_{{ .InterfaceName | lower }}.go"
{%- endraw %}
packages:
  {{gitlab_url}}/internal/service:
    interfaces:
      Storer: {}
