module {{gitlab_url}}

go 1.22.7

require (
	github.com/a-h/templ v0.2.778
	github.com/fatih/color v1.17.0
	github.com/google/uuid v1.6.0
	github.com/muesli/go-app-paths v0.2.2
	github.com/playwright-community/playwright-go v0.4702.0
	github.com/pressly/goose/v3 v3.22.1
	github.com/sethvargo/go-envconfig v1.1.0
	github.com/stretchr/testify v1.9.0
	github.com/veqryn/slog-context v0.7.0
	go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp v0.55.0
	modernc.org/sqlite v1.33.1
)

