package service_test

import (
	"testing"

	"github.com/stretchr/testify/assert"

	"{{gitlab_url}}/internal/service"
)

func TestAddExample(t *testing.T) {
	t.Run("Should successfully run test", func(t *testing.T) {
		assert.True(t, true)
	})

}
