package service

import (
	"context"

	"github.com/google/uuid"

	"{{gitlab_url}}/internal/store/db"
)

type ExampleService struct {
	store Storer
}

type Storer interface {
	db.Querier
}

func NewExampleService(store Storer) *ExampleService {
	return &ExampleService{store: store}
}

func (r *ExampleService) Add(ctx context.Context, field string) error {
	u := uuid.Must(uuid.NewV7())
	_, err := r.store.AddExample(ctx, u)
	if err != nil {
		return err
	}

	return nil
}
