package store

import (
	"context"
	"database/sql"

	"github.com/google/uuid"

	sqlc "{{gitlab_url}}/internal/store/db"
)

type Store struct {
	db      *sql.DB
	queries *sqlc.Queries
}

func NewStore(db *sql.DB) (Store, error) {
	queries := sqlc.New(db)
	store := Store{
		db:      db,
		queries: queries,
	}

	return store, nil
}

func (s Store) CreateRoom(ctx context.Context, field string) error {
	u := uuid.Must(uuid.NewV7())
	_, err := s.queries.AddExample(ctx, sqlc.AddExampleParams{{
		ID:         u.String(),
        Field: field,
	})
    return err
}
