package config_test

import (
	"context"
	"log/slog"
	"os"
	"testing"
	"time"

	"github.com/stretchr/testify/assert"

	"{{gitlab_url}}/internal/config"
)

func TestLoadConfig(t *testing.T) {
	t.Run("Should load config with default values", func(t *testing.T) {
		ctx := context.Background()
		actualCfg, err := config.LoadConfig(ctx)
		assert.NoError(t, err)

		expectedCfg := config.Config{
			App: config.App{
				Environment:   "production",
				LogLevel:      slog.LevelInfo,
				DefaultLocale: "en-GB",
				BaseDelay:     100 * time.Millisecond,
				Retries:       3,
			},
			Server: config.Server{
				Host: "0.0.0.0",
				Port: 8080,
			},
			DB: config.Database{
				URI: "postgresql://:@:5432/{{project_slug}}",
			},
			JWT: config.JWT{
				JWKSURL:    "",
				AdminGroup: "",
			},
		}

		assert.Equal(t, expectedCfg, actualCfg)
	})

	t.Run("Should load config from environment values", func(t *testing.T) {
		ctx := context.Background()
		os.Setenv("{{service_prefix}}_DB_USERNAME", "{{project_slug}}")
		os.Setenv("{{service_prefix}}_DB_PASSWORD", "{{project_slug}}")
		os.Setenv("{{service_prefix}}_DB_HOST", "localhost")

		config, err := config.LoadConfig(ctx)
		assert.NoError(t, err)

		expectedURI := "postgresql://{{project_slug}}:{{project_slug}}@localhost:5432/{{project_slug}}"
		assert.Equal(t, expectedURI, config.DB.URI)
	})

	t.Run("Should default to info level logs", func(t *testing.T) {
		ctx := context.Background()
		os.Setenv("{{service_prefix}}_LOG_LEVEL", "invalid_log")

		config, err := config.LoadConfig(ctx)
		assert.NoError(t, err)

		assert.Equal(t, slog.LevelInfo, config.App.LogLevel)
	})

	t.Run("Should throw error when invalid port", func(t *testing.T) {
		ctx := context.Background()
		os.Setenv("{{service_prefix}}_WEBSERVER_PORT", "190000")

		_, err := config.LoadConfig(ctx)
		assert.Error(t, err)
	})

	t.Run("Should throw error when invalid ip", func(t *testing.T) {
		ctx := context.Background()
		os.Setenv("{{service_prefix}}_WEBSERVER_HOST", "985646")

		_, err := config.LoadConfig(ctx)
		assert.Error(t, err)
	})
}
