package main

import (
	"context"
	"database/sql"
	"embed"
	"errors"
	"fmt"
	"io/fs"
	"log/slog"
	"net/http"
	"os"
	"os/signal"
	"syscall"
	"time"

	"github.com/MicahParks/jwkset"
	"github.com/MicahParks/keyfunc/v3"
	"github.com/exaring/otelpgx"
	_ "github.com/jackc/pgx/v5/stdlib"

	"github.com/invopop/ctxi18n"
	"github.com/jackc/pgx/v5"
	"github.com/jackc/pgx/v5/pgxpool"
	"github.com/pressly/goose/v3"
	pgxUUID "github.com/vgarvardt/pgx-google-uuid/v5"

	"{{gitlab_url}}/internal/config"
	"{{gitlab_url}}/internal/service"
	"{{gitlab_url}}/internal/store/db"
	"{{gitlab_url}}/internal/telemetry"
	transporthttp "{{gitlab_url}}/internal/transport/http"
	"{{gitlab_url}}/internal/views"
)

//go:embed static
var staticFiles embed.FS

func main() {
	var exitCode int

	err := mainLogic()
	if err != nil {
		logger := telemetry.NewLogger(slog.LevelInfo, []slog.Attr{})
		logger.ErrorContext(context.Background(), "failed to start app", slog.Any("error", err))
		exitCode = 1
	}
	defer func() { os.Exit(exitCode) }()
}

func mainLogic() error {
	ctx, cancel := context.WithCancel(context.Background())
	defer cancel()

	conf, err := config.LoadConfig(ctx)
	if err != nil {
		return fmt.Errorf("failed to load config: %w", err)
	}

	otelShutdown, err := telemetry.SetupOTelSDK(ctx, conf.App.Environment)
	if err != nil {
		return fmt.Errorf("failed to setup otel: %w", err)
	}

	defer func() {
		err = errors.Join(err, otelShutdown(context.Background()))
	}()

	// TODO: take these values from otel? instrument via otel?
	logger := logging.New(conf.App.LogLevel, []slog.Attr{
		slog.String("service_name", "{{project_slug}}"),
		slog.String("service_namespace", conf.App.Environment),
	})

	// TODO: refactor this
	pgxConfig, err := pgxpool.ParseConfig(conf.DB.URI)
	if err != nil {
		return fmt.Errorf("failed to parse db uri: %w", err)
	}

	pgxConfig.ConnConfig.Tracer = otelpgx.NewTracer()

	pgxConfig.AfterConnect = func(_ context.Context, conn *pgx.Conn) error {
		pgxUUID.Register(conn.TypeMap())
		return nil
	}

	pool, err := pgxpool.NewWithConfig(ctx, pgxConfig)
	if err != nil {
		return fmt.Errorf("failed to setup database: %w", err)
	}
	defer pool.Close()

	logger.InfoContext(ctx, "applying migrations")
	err = runDBMigrations(pool)
	if err != nil {
		return fmt.Errorf("failed to run migrations: %w", err)
	}

	database := db.NewDB(pool, conf.App.Retries, conf.App.BaseDelay)
	exampleService := service.NewExampleService(database)

	err = ctxi18n.LoadWithDefault(views.Locales, conf.App.DefaultLocale)
	if err != nil {
		return fmt.Errorf("error loading locales: %w", err)
	}

	fsys, err := fs.Sub(staticFiles, "static")
	if err != nil {
		return fmt.Errorf("failed to create embed file system: %w", err)
	}

	storage, err := jwkset.NewStorageFromHTTP(conf.JWT.JWKSURL, jwkset.HTTPClientStorageOptions{Ctx: ctx})
	if err != nil {
		return fmt.Errorf("failed to jwkset storage: %w", err)
	}

	k, err := keyfunc.New(keyfunc.Options{
		Storage: storage,
	})
	if err != nil {
		return fmt.Errorf("failed to create keyfunc: %w", err)
	}

	serverConfig := transporthttp.ServerConfig{
		Host:          conf.Server.Host,
		Port:          conf.Server.Port,
		DefaultLocale: conf.App.DefaultLocale,
		Environment:   conf.App.Environment,
	}
	server, err := transporthttp.NewServer(exampleService, logger, k.Keyfunc, serverConfig)
	if err != nil {
		return fmt.Errorf("failed to create server: %w", err)
	}

	timeoutSeconds := 15
	go terminateHandler(ctx, logger, server, timeoutSeconds)
	err = server.Serve(ctx)
	if err != nil {
		return fmt.Errorf("failed to start server: %w", err)
	}

	return nil
}

// terminateHandler waits for SIGINT or SIGTERM signals and does a graceful shutdown of the HTTP server
// Wait for interrupt signal to gracefully shutdown the server with
// a timeout of 5 seconds.
// kill (no param) default send syscall.SIGTERM
// kill -2 is syscall.SIGINT
// kill -9 is syscall.SIGKILL but can't be catch, so don't need add it
func terminateHandler(ctx context.Context, logger *slog.Logger, srv *transporthttp.Server, timeout int) {
	quit := make(chan os.Signal, 1)
	signal.Notify(quit, syscall.SIGINT, syscall.SIGTERM)
	<-quit
	logger.InfoContext(ctx, "shutting down server")

	ctx, cancel := context.WithTimeout(context.Background(), time.Duration(timeout)*time.Second)
	defer cancel()
	if err := srv.Shutdown(ctx); err != nil {
		logger.ErrorContext(ctx, "unexpected error while shutting down server", slog.Any("error", err))
	}
}
